<!DOCTYPE html>
<html>
<head>
  <title>SmartCode Reviewer</title>
</head>
<body>
  <h1>SmartCode Reviewer</h1>
  <form action="/review" method="post" enctype="multipart/form-data">
    <input type="file" name="codefile" required />
    <button type="submit">Analyseer</button>
  </form>
</body>
</html>
